{% load i18n %}

<style>
    .form-check-input:checked[type="checkbox"], .form-check-input:checked[type="radio"] {
        background-image: linear-gradient(310deg, #0084ff, #4da9ff) !important;
    }

</style>

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% translate 'Регистрация' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header text-center">
                                <p id="signup_errorbox" style="color: red;" class="mb-0"></p>
                            </div>
                            <div class="card-body">
                                <form method="post" name="signup"
                                    role="form text-left">
                                    {% csrf_token %}
                                    <div id="signup_errorbox"></div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="signup_first_name"
                                                name="first_name" placeholder="{% translate 'Имя' %}" aria-label="Name"
                                                aria-describedby="email-addon" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="signup_last_name"
                                                name="last_name" placeholder="{% translate 'Фамилия' %}" aria-label="Name"
                                                aria-describedby="email-addon" required>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="signup_email" name="email"
                                            placeholder="{% translate 'Электронная почта' %}" aria-label="Email" aria-describedby="email-addon"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" id="signup_password" name="password"
                                            placeholder="{% translate 'Пароль' %}" aria-label="Password"
                                            aria-describedby="password-addon" required>

                                    </div>
                                    <div class="mb-3">
                                        <input class="form-control" name="country" id="country_selector" type="text">
                                    </div>
                                    <div class="form-check form-check-info text-left">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                            checked="" required>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            {% translate 'Я согласен с ' %}<a href="javascript:;"
                                                class="text-primary font-weight-bolder">{% translate 'Условиями использования' %}</a>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        <button id="signup_but" type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">{% translate 'Зарегистрироваться' %}</button>
                                    </div>
                                    <p style="cursor: pointer;" class="text-sm mt-3 mb-0">{% translate 'Уже есть аккаунт?' %}
                                        <a id="or_signin"
                                            class="text-primary font-weight-bolder">{% translate 'Авторизоваться' %}</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>