{% load i18n %}

<div class="modal fade" id="warehouseAddModal" tabindex="-1" aria-labelledby="addressee_info" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warehouse_info">{% translate 'Открытие собственного адреса в США' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
            <div class="card mb-4">
              <div class="container">
                <form id="user_warehouse" method="post">
                    {% csrf_token %}
                    <!-- Text input -->
                  <div class="form-outline mb-4">
                    <p>Добро пожаловать в нашу уникальную услугу – открытие личного адреса в США! Теперь у вас есть возможность иметь свой собственный адрес в одной из самых динамичных стран мира. Независимо от того, нужен ли вам адрес для покупок, бизнеса или личных целей, наша услуга предоставит вам удобство и гибкость. Мы гарантируем конфиденциальность и безопасность вашей почты, а также предлагаем разнообразные тарифы, от быстрых однодневных до более продолжительных 10-дневных вариантов. Откройте для себя новые горизонты с вашим собственным адресом в США уже сегодня!</p>
                  </div>

                  <!-- Tariffs and Time Information -->
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <label class="form-label">{% translate 'Тарифы и время' %}</label>
                        <ul class="list-unstyled">
                          <li><strong>$1:</strong> {% translate '1 день' %}</li>
                          <li><strong>$5:</strong> {% translate '5 дней' %}</li>
                          <li><strong>$10:</strong> {% translate '10 дней' %}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <br>
                  <button id="warehouse_but" type="submit" class="btn btn-primary w-100 btn-block mb-4">{% translate 'Подать заявку' %}</button>
                  <button type="button" class="btn w-100  btn-secondary" data-bs-dismiss="modal">{% translate 'Отмена' %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
