{% load i18n %}

<div class="modal fade" id="warehouseAddModal" tabindex="-1" aria-labelledby="addressee_info" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="warehouse_info">{% translate 'Добавление' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xl-12">
            <div class="card mb-4">
              <div class="container">
                <form id="user_warehouse" method="post">
                    {% csrf_token %}
                    <!-- Text input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="warehouse_form_street" name="street" class="form-control" required>
                    <label class="form-label" for="form6Example3">{% translate 'Улица' %}</label>
                  </div>

                  <!-- Text input -->
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="warehouse_form_city" name="city" class="form-control" required>
                        <label class="form-label" for="form6Example1">{% translate 'Город' %}</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="warehouse_form_state" name="state" class="form-control" required>
                        <label class="form-label" for="form6Example2">{% translate 'Штат' %}</label>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="warehouse_form_phone" name="phone" class="form-control" required>
                        <label class="form-label" for="form6Example1">{% translate 'Номер телефона' %}</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="warehouse_form_postal_code" name="postal_code" class="form-control" required>
                        <label class="form-label" for="form6Example2">{% translate 'Почтовый код' %}</label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button id="warehouse_but" type="submit" class="btn btn-primary btn-block mb-4">{% translate 'Разместить' %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>