{% extends 'accounts/base.html' %}
{% load i18n %}
{% block title %} Main Page {% endblock %}



{% block content %}

<div class="">
    <div class="bg-transparent py-3">
        <div class="container py-3">
            <section id="locker">
                <div class="text-center">
                    <h1>Покупки</h1>
                </div>

            </section>
        </div>
    </div>

    <div class="bg-transparent py-3">
        <div class="container py-3">
            <section id="tax">
                <div class="row my-3">
                    <div class="col-md-6 py-3">
                        <p>
                            Читайте нашу инструкцию, как сделать свой первый заказ из американского магазина. <br>
                        </p>
                        <form method="post">
                            {% csrf_token %}
                            {{purchase_form.as_p}}
                            <input id="add_parcel" type="submit" value="Добавить покупку">
                        </form>                    
                    </div>
                </div>

            </section>
        </div>
    </div>
    

    <div class="bg-white py-3">
        <div class="container py-3">
            <section id="extras">
                <div class="row">
                    {% for purchase in purchases %}
                        <div class="col s6 m6 l 6">
                            {{purchase.name}}
                            {{purchase.link}}
                            {{purchase.quantity}}
                            ${{purchase.price}}
                        </div>
                    {% endfor %}
                </div>

            </section>
        </div>
    </div>
</div>

{% endblock %}