<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% translate 'Информация о оформлении отправления' %}</title>
</head>
<body>
    <p>{% translate 'Уважаемый(ая) {{ purchase.address.first_name }} {{ purchase.address.last_name }},' %}</p>
    <p>{% translate 'Вы успешно оформили отправление. Вот информация о вашей покупке:' %}</p>

    <p><strong>{% translate 'Наименование товара:' %}</strong> {{ purchase.name }}</p>
    <p><strong>{% translate 'Ссылка на товар:' %}</strong> <a href="{{ purchase.link }}">{{ purchase.name }}</a></p>
    <p><strong>{% translate 'Количество:' %}</strong> {{ purchase.quantity }}</p>
    <p><strong>{% translate 'Цена:' %}</strong> ${{ purchase.price }}</p>
    <p><strong>{% translate 'Трек номер:' %}</strong> {{ purchase.tracking_number }}</p>

    <p>{% translate 'Спасибо за ваш заказ!' %}</p>
    <p>{% translate 'С уважением,' %}</p>
    <p>{% translate 'Ваша команда Hermes International.' %}</p>
</body>
</html>
