{% extends 'accounts/base.html' %}
{% load i18n %}
{% block content %}
<style>
    .filter-toggle {
        cursor: pointer;
        color: black;
    }
    .active{
        color: #0084ff !important;
    }
    .page-link .active {
        color: white !important; 
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-3">
            <input class="form-control" type="text" id="searchPurchaseInput" placeholder="Search...">
        </div>
        <div class="col-9">
            <form id="filterForm">
                <div class="d-flex justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isDeliveriedFilter">
                        <label class="form-check-label" for="isDeliveriedFilter">
                            Доставлена
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isReadyPayFilter">
                        <label class="form-check-label" for="isReadyPayFilter">
                            Готова к оплате
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isPaidFilter">
                        <label class="form-check-label" for="isPaidFilter">
                            Оплачена
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="statusFilter" name="status">
                            <option value="">Выберите статус</option>
                            <option value="BUYOUT">buyout</option>
                            <option value="FORWARDING">forwarding</option>
                            <option value="ACCEPTANCE">acceptance</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Track number</th>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Status</th> -->
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchase_per_accounts %}
                <tr 
                    class="search-item"
                    data-is-deliveried={{purchase.is_deliveried}}
                    data-is-ready-pay={{purchase.is_ready_pay}}
                    data-is-paid={{purchase.is_paid}}
                    data-status={{purchase.status}}
                >
                    <td><a href="">{{ purchase.tracking_number }}</a></td>
                    <td>{{ purchase.address.first_name }}</td>
                    <td>{{ purchase.address.last_name }}</td>
                    <td>{{ purchase.account.email }}</td>
                    <td style="display: none;">{{purchase.status}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}