{% extends 'accounts/admin_profile_base.html' %}

{% load i18n %}
{% load format_text %}
{% load static %}


{% block tab %}
<style>
    .table {
        border-collapse: collapse;
    }
</style>
<div>
    <div class="row">
        {% for key, value in purchase_statuses.items %}
            <div class="col-4 mb-1" style="background-color: {{value.color}}; border-radius: 30px; color: {{value.tcolor}}; border: 0.5px solid black">
                {{value.status}}
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <input class="form-control" type="text" id="searchPurchaseInput" placeholder="{% translate 'Введите запрос...' %}">
        </div>
        <div class="col-9">
            <form id="filterForm">
                <div class="d-flex justify-content-between">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isDeliveriedFilter">
                        <label class="form-check-label" for="isDeliveriedFilter">
                            Доставлена
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isReadyPayFilter">
                        <label class="form-check-label" for="isReadyPayFilter">
                            Готова к оплате
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isPaidFilter">
                        <label class="form-check-label" for="isPaidFilter">
                            Оплачена
                        </label>
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="statusFilter" name="status">
                            <option value="">Выберите статус</option>
                            <option value="BUYOUT">buyout</option>
                            <option value="FORWARDING">forwarding</option>
                            <option value="ACCEPTANCE">acceptance</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <div class="table-responsive">
        <table id="main-table" class="table">
            <thead id="main-table-thead">
                <tr>
                    <th scope="col">{% translate 'Фото' %}</th>
                    <th scope="col">{% translate 'Трек' %}</th>
                    <th scope="col">{% translate 'ФИО' %}</th>
                    <th scope="col">{% translate 'Email' %}</th>
                    <th scope="col">{% translate 'Товар' %}</th>
                    <th scope="col">{% translate 'Цена' %}</th>
                    <th scope="col">{% translate 'Ссылка' %}</th>
                    <th scope="col">{% translate 'Адрес' %}</th>
                    <!-- <th scope="col">{% translate 'Код получения' %}</th> -->
                    <!-- <th scope="col">{% translate 'Адрес отправления' %}</th> -->
                    <th scope="col">{% translate 'Телеграм' %}</th>
                    <th scope="col">{% translate 'Трек после отправления' %}</th>
                    <th scope="col">{% translate 'Примечание' %}</th>
                    <!-- <th scope="col">Status</th> -->
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchase_per_accounts %}
                    <tr 
                        class="search-item"
                        data-is-deliveried={{purchase.is_deliveried}}
                        data-is-ready-pay={{purchase.is_ready_pay}}
                        data-is-paid={{purchase.is_paid}}
                        data-status={{purchase.status}}
                        style="background-color: {{ purchase.get_purchase_status_color }}"
                    >   
                        <td style="text-align: center;">
                            <a type="button"  data-bs-toggle="modal" data-bs-target="#photoModal" onclick="getPurchaseData('{{purchase.id}}')">
                                {% if purchase.get_purchase_status_tcolor == '#fff' %}
                                <img src="/static/accounts/img/plus-circle.svg" height="20" width="20">
                                {% else %}
                                    <img src="/static/accounts/img/plus-circle-1425-svgrepo-com.svg" height="20" width="20">
                                {% endif %}
                            </a>
                        </td>
                        <td><a href="" style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.tracking_number }}</a></td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.address.first_name }} {{ purchase.address.last_name }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.account.email }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.name | minimalize }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.price }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.link | minimalize }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.address }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.account.telegram }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.account.last_track_number }}</td>
                        <td style="color: {{ purchase.get_purchase_status_tcolor }}">{{ purchase.remarks }}</td>
                        <td style="display: none;">{{purchase.status}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="ajax-table" class="table" style="display: none;">
            <thead id="ajax-table-thead">
                <tr>
                    <th scope="col">{% translate 'Фото' %}</th>
                    <th scope="col">{% translate 'Трек' %}</th>
                    <th scope="col">{% translate 'ФИО' %}</th>
                    <th scope="col">{% translate 'Email' %}</th>
                    <th scope="col">{% translate 'Товар' %}</th>
                    <th scope="col">{% translate 'Цена' %}</th>
                    <th scope="col">{% translate 'Ссылка' %}</th>
                    <th scope="col">{% translate 'Адрес' %}</th>
                    <th scope="col">{% translate 'Телеграм' %}</th>
                    <th scope="col">{% translate 'Трек после отправления' %}</th>
                    <th scope="col">{% translate 'Примечание' %}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <nav aria-label="Page navigation">
        <ul id="purchase_pagination" class="pagination justify-content-center">
            {% if purchase_per_accounts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?purchase_page=1" aria-label="First">
                        1
                    </a>
                </li>
                {% if purchase_per_accounts.number == purchase_per_accounts.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link">
                            ...
                        </a>
                    </li>
                {% endif %}
                {% if not purchase_per_accounts.previous_page_number == 1%}
                <li class="page-item">
                    <a class="page-link" href="?purchase_page={{ purchase_per_accounts.previous_page_number }}" aria-label="Previous">
                        {{ purchase_per_accounts.previous_page_number }}
                    </a>
                </li>
                {% endif %}

            {% endif %}
            
            <li class="page-item active" aria-current="page">
                <span class="page-link white-page-number" style="color: aliceblue;">{{ purchase_per_accounts.number }}</span>
            </li>
            
            {% if purchase_per_accounts.has_next %}


            {% if not purchase_per_accounts.next_page_number == purchase_per_accounts.paginator.num_pages%}
            <li class="page-item">
                <a class="page-link" href="?purchase_page={{ purchase_per_accounts.next_page_number }}" aria-label="Next">
                    {{ purchase_per_accounts.next_page_number }}
                </a>
            </li>
            {% endif %}
                {% if purchase_per_accounts.number == 1 %}
                <li class="page-item">
                    <a class="page-link">
                        ...
                    </a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?purchase_page={{ purchase_per_accounts.paginator.num_pages }}" aria-label="Last">
                        {{ purchase_per_accounts.paginator.num_pages }}
                    </a>
                </li>
                
            {% endif %}
        </ul>
    </nav>
</div>

<script src="{% static 'accounts/js/jquery.js' %}"></script>

<script>

    $(document).ready(function() {
        function updateTable() {
            var filters = {
                isDeliveriedFilter: $('#isDeliveriedFilter').is(':checked'),
                isReadyPayFilter: $('#isReadyPayFilter').is(':checked'),
                isPaidFilter: $('#isPaidFilter').is(':checked'),
                statusFilter: $('#statusFilter').val(),
                searchPurchaseInput: $('#searchPurchaseInput').val()
            };

            $.ajax({
                type: 'GET',
                url: '/ajax/accounts/profile/purchase_filter/get',
                data: filters,
                success: function(data) {
                

                var tableBody = document.querySelector('#ajax-table tbody');
                tableBody.innerHTML = '';
  
                for (var i = 0; i < data.filteredPurchases.length; i++) {
                    var purchase = data.filteredPurchases[i];
  
                    var row = document.createElement('tr');
                    row.style.backgroundColor = purchase.color;
                    row.style.color = purchase.tcolor;
  
                    var cell1 = document.createElement('td');
                    cell1.style.textAlign = 'center';
  
                    
                    var imgLink = document.createElement('a');
                    imgLink.setAttribute('type', 'button');
                    imgLink.setAttribute('data-bs-toggle', 'modal');
                    imgLink.setAttribute('data-bs-target', '#photoModal');
                    imgLink.setAttribute('onclick', "getPurchaseData('" + purchase.id + "')");
  
                    var img = document.createElement('img');
                    if (purchase.tcolor == "#fff"){
                        img.setAttribute('src', '/static/accounts/img/plus-circle.svg');
                    }
                    else {
                        img.setAttribute('src', '/static/accounts/img/plus-circle-1425-svgrepo-com.svg');
                    }
                    img.setAttribute('height', '20');
                    img.setAttribute('width', '20');
                    imgLink.appendChild(img);
                    cell1.appendChild(imgLink);
  
                    row.appendChild(cell1)
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.tracking_number;
                    row.appendChild(dateCell);
                    
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.first_name + purchase.last_name;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.email;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.name;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.price;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.link;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.address;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.telegram;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.created;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.last_track_number;
                    row.appendChild(dateCell);
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = purchase.remarks;
                    row.appendChild(dateCell);
  
                    tableBody.appendChild(row);
                }
  
                },
                error: function() {
                    console.error('Ошибка при получении данных');
                }
            });
        }
  
        $('#isDeliveriedFilter, #isReadyPayFilter, #isPaidFilter, #searchPurchaseInput, #statusFilter').on('change keyup', function() {
            var mainTableBody = document.getElementById('main-table');
            var ajaxTableBody = document.getElementById('ajax-table');
  
  
            var isDeliveriedFilter = $('#isDeliveriedFilter').is(':checked');
            var isReadyPayFilter = $('#isReadyPayFilter').is(':checked');
            var isPaidFilter = $('#isPaidFilter').is(':checked');
            var statusFilter = $('#statusFilter').val();
            var searchPurchaseInput = $('#searchPurchaseInput').val();

            var purchasePagination = document.getElementById("purchase_pagination");
  
            if (!isDeliveriedFilter && !isReadyPayFilter && !isPaidFilter && statusFilter == '' && searchPurchaseInput == ''){
                
              ajaxTableBody.style.display = 'none'
              mainTableBody.style.display = '';
              purchase_pagination.style.display = '';
            }
            else {
              mainTableBody.style.display = 'none';
              purchase_pagination.style.display = 'none'
              ajaxTableBody.style.display = ''
  
              updateTable();
            }
        });
        updateTable();
    });
  
</script>
{% endblock %}