{% extends 'accounts/admin_profile_base.html' %}

{% load i18n %}
{% load format_text %}
{% load static %}


{% block tab %}
<div class="row">
    {% for key, value in users_statuses.items %}
        <div class="col-4 mb-1" style="background-color: {{value.color}}; border-radius: 30px; color: {{value.tcolor}}">
            {{value.status}}
        </div>
    {% endfor %}
    <div class="col-3">
        <input class="form-control" type="text" id="searchUserInput" placeholder="Search...">
    </div>
</div>
<div>
    <table id="main-table" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">{% translate 'Id' %}</th>
                <th scope="col">{% translate 'Имя' %}</th>
                <th scope="col">{% translate 'Фамилия' %}</th>
                <th scope="col">{% translate 'Почта' %}</th>
                <th scope="col">{% translate 'Баланс' %}</th>
                <th scope="col">{% translate 'Дата создания' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr
                style="background-color: {{ account.get_user_status_color }}"
                >
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.id }}</td>
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.first_name }}</td>
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.last_name }}</td>
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.email }}</td>
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.balance }}</td>
                    <td style="color: {{ account.get_user_status_tcolor }}">{{ account.date_joined }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table id="ajax-table" class="table table-bordered" style="display: none;">
        <thead>
            <tr>
                <th scope="col">{% translate 'Id' %}</th>
                <th scope="col">{% translate 'Имя' %}</th>
                <th scope="col">{% translate 'Фамилия' %}</th>
                <th scope="col">{% translate 'Почта' %}</th>
                <th scope="col">{% translate 'Баланс' %}</th>
                <th scope="col">{% translate 'Дата создания' %}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if accounts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?account_page=1" aria-label="First">
                        1
                    </a>
                </li>
                {% if accounts.number == accounts.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link">
                            ...
                        </a>
                    </li>
                {% endif %}
                {% if not accounts.previous_page_number == 1%}
                <li class="page-item">
                    <a class="page-link" href="?account_page={{ accounts.previous_page_number }}" aria-label="Previous">
                        {{ accounts.previous_page_number }}
                    </a>
                </li>
                {% endif %}

            {% endif %}
            
            <li class="page-item active" aria-current="page">
                <span class="page-link white-page-number" style="color: aliceblue;">{{ accounts.number }}</span>
            </li>
            
            {% if accounts.has_next %}


            {% if not accounts.next_page_number == accounts.paginator.num_pages%}
            <li class="page-item">
                <a class="page-link" href="?account_page={{ accounts.next_page_number }}" aria-label="Next">
                    {{ accounts.next_page_number }}
                </a>
            </li>
            {% endif %}
                {% if accounts.number == 1 %}
                <li class="page-item">
                    <a class="page-link">
                        ...
                    </a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?account_page={{ accounts.paginator.num_pages }}" aria-label="Last">
                        {{ accounts.paginator.num_pages }}
                    </a>
                </li>
                
            {% endif %}
        </ul>
    </nav>
</div>
<script src="{% static 'accounts/js/jquery.js' %}"></script>
<script>
    $(document).ready(function() {
        function updateTable() {
            var filters = {
                searchUserInput: $('#searchUserInput').val()
            };
            $.ajax({
                type: 'GET',
                url: '/ajax/accounts/profile/users_filter/get',
                data: filters,
                success: function(data) {

                var tableBody = document.querySelector('#ajax-table tbody');
                tableBody.innerHTML = '';
  
                for (var i = 0; i < data.accounts.length; i++) {
                    var user = data.accounts[i];
  
                    var row = document.createElement('tr');
                    row.style.backgroundColor = user.color;
                    row.style.color = user.tcolor;
  
                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.id;
                    row.appendChild(dateCell);

                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.first_name;
                    row.appendChild(dateCell);

                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.last_name;
                    row.appendChild(dateCell);

                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.email;
                    row.appendChild(dateCell);

                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.balance;
                    row.appendChild(dateCell);

                    var dateCell = document.createElement('td');
                    dateCell.textContent = user.date_joined;
                    row.appendChild(dateCell);
  
                    tableBody.appendChild(row);
                }
  
                },
                error: function() {
                    console.error('Ошибка при получении данных');
                }
            });
        }
  
        $('#searchUserInput').on('change keyup', function() {

            var mainTableBody = document.getElementById('main-table');
            var ajaxTableBody = document.getElementById('ajax-table');
            var searchUserInput = $('#searchUserInput').val();
  
            if (searchUserInput == ''){
              ajaxTableBody.style.display = 'none'
              mainTableBody.style.display = '';
            }
            else{
              mainTableBody.style.display = 'none';
              ajaxTableBody.style.display = ''
  
              updateTable();
            }
        });  
        updateTable();
    });
</script>
{% endblock %}