{% extends 'accounts/admin_profile_base.html' %}

{% load i18n %}
{% load format_text %}
{% load static %}


{% block tab %}
<style>
    .table {
        border-collapse: collapse;
    }
</style>
<div>
    <div class="table-responsive">
        <table id="main-table" class="table">
            <thead id="main-table-thead">
                <tr>
                    <th scope="col">{% translate 'Email' %}</th>
                    <th scope="col">{% translate 'Адрес' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for warehouse in warehouses %}
                    <tr>   
                        <td>{{warehouse.account}}</td>
                        <td>{{warehouse}}</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input warehouseSwitch" type="checkbox" data-warehouse="{{warehouse.id}}"  {% if warehouse.is_opened %} checked{% endif %}>
                                <label class="form-check-label">{% if warehouse.is_opened %} {% translate 'Открыт' %} {% else %} {% translate 'Закрыт' %} {% endif %}</label>
                              </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}