<div class="row">
  <div class="col-xl-12">
    <div class="card mb-4">
      <div class="container">
        <h7>Тип товара укажите на русском, а бренд на английском. Укажите каждый товар отдельно. Как заполнять
          декларацию?</h7>
        <br>
        <h7>Например: Футболка Carters, красная, хлопок, размер 3М.</h7>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="example-text-input" class="form-control-label">Product type and brand</label>
            <!-- <input class="form-control" type="text" value="" placeholder="Наушники Razer" id="example-text-input"> -->
            {{purchase_form.name}}
          </div>
          <div class="form-group">
            <label for="example-url-input" class="form-control-label">Shop link</label>
            <!-- <input class="form-control" type="url" value="" placeholder="https://amazon.com" id="example-url-input"> -->
            {{purchase_form.link}}
          </div>
          <div class="form-group">
            <label for="example-url-input" class="form-control-label">Tracking number</label>
            <!-- <input class="form-control" type="url" value="" placeholder="..." id="example-url-input"> -->
            {{purchase_form.tracking_number}}
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-number-input" class="form-control-label">Quantity</label>
                <!-- <input class="form-control" type="number" value="" placeholder="1" id="example-number-input"> -->
                {{purchase_form.quantity}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-number-input" class="form-control-label">Price</label>
                <!-- <input class="form-control" type="number" value="" placeholder="1" id="example-number-input"> -->
                {{purchase_form.price}}
              </div>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>