{% extends 'accounts/base.html' %}
{% load i18n %}
{% block content %}
<div class="row mb-4">
    <div class="col-lg-4 col-sm-12">
        <input class="form-control" type="text" id="category-search" placeholder="{% translate 'Поиск по категории' %}">
    </div>
</div>
<div class="row">
    {% for category, items in buyout.items %}
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>{{category}}</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0 table-fixed-layout">
                            <colgroup>
                                <col style="width: 80%;"> <!-- Column for item name (90% width) -->
                                <col style="width: 20%;"> <!-- Column for percent (10% width) -->
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 th-center">
                                        {% translate 'Наименование' %}
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 th-center">
                                        {% translate 'Процент' %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{item.name}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{item.percent}}%</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}