{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;" class="container">
    <div class="row" style="width: 600px;">
        <div class="col-xl-12">
          <div class="card mb-4">
            <div class="container">
              <form name="change_password" method="post">
                <input type="hidden" name="email" value="{{email}}">
                {% csrf_token %}
                <div class="card-header text-center">
                  <p id="change_password_errorbox" style="color: red;" class="mb-0"></p>
              </div>
                <!-- <div class="form-group">
                  <label for="example-text-input" class="form-control-label">{% translate 'Старый пароль' %}</label>
                  <input class="form-control" type="text" id="change_password_old_password" required>
                </div> -->
                <div class="form-group">
                  <label for="example-url-input" class="form-control-label">{% translate 'Новый пароль' %}</label>
                  <input class="form-control" type="password" id="change_password_new_password" required>
                </div>
                <div class="form-group">
                  <label for="example-url-input" class="form-control-label">{% translate 'Подтвердите новый пароль' %}</label>
                  <input class="form-control" type="password" id="change_password_repeat_new_password" required>
                </div>
                <div class="modal-footer">
                  <button id="cancel_change_password_but" type="button" class="btn btn-secondary">{% translate 'Отмена' %}</button>
                  <button id="change_password_but" type="submit" class="btn btn-primary">{% translate 'Сменить' %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}