{% extends "accounts/base.html" %}
{% load format_text %}
{% load static %}

{% block content %}
{% include 'accounts/forms/buy_form.html' %}
{% include 'accounts/forms/address_form.html' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <h1>Покупки</h1>
              <br>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#purchaseAddModal">
                <img src="{% static 'accounts/img/plus-circle-svgrepo-com.svg' %}" height="21" width="21">
              </button>
            </div>
          </div>
        </div>
        <div class="row g-4">
          {% for purchase in purchases %}
          <div class="col-md-auto">
            <div class="card" style="width: 15rem;">
              <div class="container">
                {% if purchase.status == 'BUYOUT' %}
                  <img src="{% static 'accounts/img/fast-time.png' %}" class="card-img-top" alt="Chicago Skyscrapers"/>
                {% endif %}
                {% if purchase.status == 'FORWARDING' %}
                  <img src="{% static 'accounts/img/free-sticker-paper-plane.png' %}" class="card-img-top" alt="Chicago Skyscrapers"/>
                {% endif %}
                {% if purchase.status == 'ACCEPTANCE' %}
                  <img src="{% static 'accounts/img/delivery-box.png' %}" class="card-img-top" alt="Chicago Skyscrapers"/>
                {% endif %}
              </div>
              <ul class="list-group list-group-light list-group-small">
                <li class="list-group-item px-4"><b>Id:</b> {{ purchase.id }}</li>
                <li class="list-group-item px-4"><b>Name:</b> {{ purchase.name }}</li>
                <li class="list-group-item px-4"><b>URL: </b><a href="{{purchase.link}}">{{purchase.link | minimalize}}...</a></li>
                <li class="list-group-item px-4"><b>Price: </b>${{purchase.price}}</li>
                <li class="list-group-item px-4"><b>Quantity: </b>{{purchase.quantity}}</li>
              </ul>
              <div class="card-body">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                  <button class="btn btn-primary" type="button">Выкуп</button>
                  <button class="btn btn-success" type="button">Пересыл</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
</main>
<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<script>
  var purchase_link = document.getElementsByClassName("purchase_link")
  console.log(purchase_link) 
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>
{% endblock %}