{% extends "accounts/base.html" %}
{% load format_text %}
{% load static %}
{% block content %}
{% load i18n %}
{% include 'accounts/forms/buy_form.html' %}
{% include 'accounts/forms/address_form.html' %}
<div class="row">
  <div class="col-12">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <h1>{% translate 'Покупки' %}</h1>
          <br>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#purchaseAddModal">
            <img src="{% static 'accounts/img/plus-circle-svgrepo-com.svg' %}" height="21" width="21">
          </button>
        </div>
      </div>
    </div>
    <div class="row g-4">
      {% for purchase in purchases %}
      <div class="col-md-auto">
        <div class="card" style="width: 15rem;">
          <div class="container">
            {% if purchase.status == 'BUYOUT' %}
            <img src="{% static 'accounts/img/fast-time.png' %}" class="card-img-top" alt="Chicago Skyscrapers" />
            {% endif %}
            {% if purchase.status == 'FORWARDING' %}
            <img src="{% static 'accounts/img/free-sticker-paper-plane.png' %}" class="card-img-top"
              alt="Chicago Skyscrapers" />
            {% endif %}
            {% if purchase.status == 'ACCEPTANCE' %}
            <img src="{% static 'accounts/img/delivery-box.png' %}" class="card-img-top" alt="Chicago Skyscrapers" />
            {% endif %}
          </div>
          <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-4"><b>Id:</b> {{ purchase.id }}</li>
            <li class="list-group-item px-4"><b>{% translate 'Название' %}:</b> {{ purchase.name }}</li>
            <li class="list-group-item px-4"><b>URL: </b><a href="{{purchase.link}}">{{purchase.link | minimalize}}...</a></li>
            <li class="list-group-item px-4"><b>{% translate 'Цена' %}: </b>${{purchase.price}}</li>
            <li class="list-group-item px-4"><b>{% translate 'Количество' %}: </b>{{purchase.quantity}}</li>
          </ul>
          <div class="card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button class="btn btn-primary" type="button">{% translate 'Выкуп' %}</button>
              <button class="btn btn-success" type="button">{% translate 'Пересыл' %}</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}