{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} Main Page {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" id="spec-sign-in">
                <div class="card-header">
                    <b>

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="mdi-login" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z">
                            </path>
                        </svg>

                        Войти
                    </b>
                </div>
                <div class="card-body">
                    <form class="simple_form new_user" id="new_user" novalidate="novalidate" accept-charset="UTF-8" method="post">
                        {% csrf_token %}
                        <div class="form-inputs">
                            <div class="form-group email optional user_email">
                                <label class="email optional" for="user_email">E-mail</label>
                                <div class="input-group">
                                    <!-- <input class="form-control string email optional" autofocus="autofocus" type="email" name="user[email]" id="user_email"> -->
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="form-group password optional user_password"><label class="password optional"
                                    for="user_password">Пароль</label>
                                <div class="input-group">
                                    <!-- <input class="form-control password optional" type="password" name="user[password]" id="user_password"> -->
                                    {{form.password}}
                                </div>
                            </div>
                            <fieldset class="form-group boolean optional user_remember_me">
                                <div class="custom-control custom-checkbox"><input name="user[remember_me]"
                                        type="hidden" value="0" autocomplete="off"><input
                                        class="custom-control-input boolean optional" type="checkbox" value="1"
                                        name="user[remember_me]" id="user_remember_me" checked="checked"><label
                                        class="custom-control-label boolean optional" for="user_remember_me">Запомнить
                                        меня</label></div>
                            </fieldset>
                        </div>
                        <!-- <div class="form-actions">
                            <script src="https://www.recaptcha.net/recaptcha/api.js" async="" defer=""></script>
                            <script>
                                var invisibleRecaptchaSubmit = function () {
                                    var closestForm = function (ele) {
                                        var curEle = ele.parentNode;
                                        while (curEle.nodeName !== 'FORM' && curEle.nodeName !== 'BODY') {
                                            curEle = curEle.parentNode;
                                        }
                                        return curEle.nodeName === 'FORM' ? curEle : null
                                    };

                                    var el = document.querySelector(".g-recaptcha")
                                    if (!!el) {
                                        var form = closestForm(el);
                                        if (form) {
                                            form.submit();
                                        }
                                    }
                                };
                            </script> -->
                            <!-- <div>
                                <div class="grecaptcha-badge" data-style="bottomright"
                                    style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                    <div class="grecaptcha-logo"><iframe title="reCAPTCHA"
                                            src="https://www.recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=6Lc0vDkUAAAAABiceFsAwRR1Fd1_G_1JwPcKj_kb&amp;co=aHR0cHM6Ly93d3cuZmlzaGlzZmFzdC5jb206NDQz&amp;hl=ru&amp;v=iRvKkcsnpNcOYYwhqaQxPITz&amp;size=invisible&amp;cb=sw5p2nf820l7"
                                            width="256" height="60" role="presentation" name="a-icjrzljus7kr"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
                                        name="g-recaptcha-response" class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div><iframe style="display: none;"></iframe>
                            </div><button type="submit" data-sitekey="6Lc0vDkUAAAAABiceFsAwRR1Fd1_G_1JwPcKj_kb"
                                data-callback="invisibleRecaptchaSubmit"
                                class="g-recaptcha btn btn-primary btn-block">Войти</button> -->

                                <button type="submit" class="btn btn-primary btn-block">Войти</button>

                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <div class="m-3 mt-0 text-center">
                <a href="/ru/users/password/new">Забыли пароль?</a>
                <br>
                <!-- <a href="/ru/users/confirmation/new">Не получили подтверждение?</a>
                <br>
                <a href="/ru/users/unlock/new">Не получили код разблокировки?</a>
                <br> -->
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" tabindex="-1"></div>
</div>
{% endblock %}