{% extends "accounts/base.html" %}
{% load static %}
{% load format_text %}
{% load i18n %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h1>{% translate 'Посылки' %}</h1>
            <br>
          </div>
        </div>
      </div>

      <div class="row g-4">
        {% for purchase in purchases %}
        <div class="col-md-auto">
          <div class="card" style="width: 15rem;">
            <div class="container">
            {% if purchase.status == 'FORWARDING' %}
              <img src="{% static 'accounts/img/free-sticker-paper-plane.png' %}" class="card-img-top"/>
            {% endif %}
            {% if purchase.status == 'ACCEPTANCE' %}
              <img src="{% static 'accounts/img/delivery-box.png' %}" class="card-img-top"/>
            {% endif %}
            </div>
            <ul class="list-group list-group-light list-group-small">
              <li class="list-group-item px-4"><b>Id:</b> {{ purchase.id }}</li>
              <li class="list-group-item px-4"><b>{% translate 'Название' %}:</b> {{ purchase.name }}</li>
              <li class="list-group-item px-4"><b>URL: </b><a href="{{purchase.link}}">{{purchase.link | minimalize}}...</a></li>
              <li class="list-group-item px-4"><b>{% translate 'Цена' %}: </b>${{purchase.price}}</li>
              <li class="list-group-item px-4"><b>{% translate 'Количество' %}: </b>{{purchase.quantity}}</li>
            </ul>
            <div class="card-body">
              <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-primary" type="button">Выкуп</button>
                <button class="btn btn-success" type="button">Пересыл</button>
              </div> -->
              <div class="d-grid mx-auto content-md-center">
                <button class="btn btn-outline-danger" type="button">{% translate 'Расформировать' %}</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</div>
</main>
</body>
{% endblock %}