{% extends "accounts/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                <h2>{% translate 'Адрес в США бесплатно' %}</h2>
            </div>
            <div class="card-body">
                <p>{% translate 'При регистрации вы получаете бесплатный адрес в США, а также возможность открывать свои собственные личные физические адреса в рамках нашего сервиса.' %}</p>
                <p>{% translate 'В данный момент мы открываем склады в штатах: (MD), (VA), (DC)' %}</p>
                <p>{% translate 'Вы можете использовать свой локер по мере необходимости.' %}</p>
                <p>{% translate 'Мы всегда готовы принять, упаковать, и отправить ваши товары.' %}</p>
                <h3>{% translate 'Актуальные прайсы:' %}</h3>
                <ul>
                    <li>{% translate 'прием посылки: free (бесплатное хранение 90 дней)' %}</li>
                    <li>{% translate 'пересыл посылки по USA 35$ ( оплата курьерских расходов по чеку )' %}</li>
                    <li>{% translate 'Доставка посылки посылок до др стран ( договорная )' %}</li>
                    <li>{% translate 'тестирование электроники: 5$' %}</li>
                    <li>{% translate 'убрать коробку из-под обуви 1$' %}</li>
                    <li>{% translate 'добавление доп пузырчатой пленки 1$' %}</li>
                    <li>{% translate 'обрешетка 5$' %}</li>
                </ul>
                <p>{% translate 'Фото посылок бесплатно' %}</p>
                <p>{% translate '(Мы делаем фото коробки и адресной этикетки для каждой входящей посылки бесплатно.)' %}</p>
                <p>{% translate 'Фото содержимого каждой посылки $2' %}</p>
                <p>{% translate '(Мы будем автоматически распаковывать все входящие посылки и делать фото каждой отдельной вещи.)' %}</p>
                <p>{% translate 'Налогов с продаж в США нет' %}</p>
                <p>{% translate 'Скрытых сборов нет' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
