{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} Main Page {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <b>

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            id="mdi-help" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M10,19H13V22H10V19M12,2C17.35,2.22 19.68,7.62 16.5,11.67C15.67,12.67 14.33,13.33 13.67,14.17C13,15 13,16 13,17H10C10,15.33 10,13.92 10.67,12.92C11.33,11.92 12.67,11.33 13.5,10.67C15.92,8.43 15.32,5.26 12,5A3,3 0 0,0 9,8H6A6,6 0 0,1 12,2Z">
                            </path>
                        </svg>

                        Забыли пароль?
                    </b>
                </div>
                <div class="card-body">
                    <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/ru/users/password"
                        accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token"
                            value="4DAAntZncQ32DRHxHD0TGI--QVAvjW8x2PVGjTxaRIjtBlX5nqe49UE8euntLy9CSWxYl20-Q58QtrTnvmOMJQ"
                            autocomplete="off">
                        <div class="form-inputs">
                            <div class="form-group email required user_email"><label class="email required"
                                    for="user_email">E-mail <abbr title="обязательное">*</abbr></label>
                                <div class="input-group"><input class="form-control string email required"
                                        autofocus="autofocus" required="required" aria-required="true" type="email"
                                        name="user[email]" id="user_email"></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <script src="https://www.recaptcha.net/recaptcha/api.js" async="" defer=""></script>
                            <script>
                                var invisibleRecaptchaSubmit = function () {
                                    var closestForm = function (ele) {
                                        var curEle = ele.parentNode;
                                        while (curEle.nodeName !== 'FORM' && curEle.nodeName !== 'BODY') {
                                            curEle = curEle.parentNode;
                                        }
                                        return curEle.nodeName === 'FORM' ? curEle : null
                                    };

                                    var el = document.querySelector(".g-recaptcha")
                                    if (!!el) {
                                        var form = closestForm(el);
                                        if (form) {
                                            form.submit();
                                        }
                                    }
                                };
                            </script>
                            <div>
                                <div class="grecaptcha-badge" data-style="bottomright"
                                    style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                    <div class="grecaptcha-logo"><iframe title="reCAPTCHA"
                                            src="https://www.recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=6Lc0vDkUAAAAABiceFsAwRR1Fd1_G_1JwPcKj_kb&amp;co=aHR0cHM6Ly93d3cuZmlzaGlzZmFzdC5jb206NDQz&amp;hl=ru&amp;v=iRvKkcsnpNcOYYwhqaQxPITz&amp;size=invisible&amp;cb=yclfzwzacz2t"
                                            width="256" height="60" role="presentation" name="a-i603f5qacld9"
                                            frameborder="0" scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
                                        name="g-recaptcha-response" class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div><iframe style="display: none;"></iframe>
                            </div><button type="submit" data-sitekey="6Lc0vDkUAAAAABiceFsAwRR1Fd1_G_1JwPcKj_kb"
                                data-callback="invisibleRecaptchaSubmit"
                                class="g-recaptcha btn btn-primary btn-block">Выслать новый пароль</button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="m-3 mt-0 text-center">
                <a href="/ru/users/confirmation/new">Не получили подтверждение?</a>
                <br>
                <a href="/ru/users/unlock/new">Не получили код разблокировки?</a>
                <br>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" tabindex="-1"></div>
</div>
{% endblock %}