{% extends "accounts/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'accounts/forms/warehouse_form.html' %}
<div class="row">
  <div class="col-xl-12 s-12">
    <div class="card mb-4">
      <div class="container">
        <br>
        <div class="row align-items-center">
          <div class="col-10">
            <h1>{% translate 'Адрес в США' %}</h1>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#warehouseAddModal">
              <img src="{% static 'accounts/img/plus-circle-svgrepo-com.svg' %}" height="21" width="21">
            </button>
          </div>
        </div>
        <br>
        <div id="locker-slider" class="owl-carousel">
          {% for warehouse in warehouses %}
          <div class="item"
            data-dot="<button role='button' {% if warehouse.account %} style='background-color: gold!important' {% endif %} class='owl-dot'><span>{{forloop.counter}}</span></button>">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title">#{{forloop.counter}} {% translate 'Склад' %} - {{warehouse.city}}</h5>
                  </div>
                  <div class="col-3">
                    {% if warehouse.account %}
                    <svg onclick="deleteUserWarehouse('{{warehouse.id}}')" style="cursor: pointer;"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="{% translate 'Удалить склад' %}"
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="25px" height="25px">
                      <path
                        d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z" />
                    </svg>
                    {% endif %}
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>{% translate 'Адрес' %}:</b> {{warehouse.address}}</li>
                  <li class="list-group-item"><b>{% translate 'Штат' %}: </b>{{warehouse.state}}</li>
                  <li class="list-group-item"><b>{% translate 'Почтовый индекс' %}: </b>{{warehouse.zip}}</li>
                  <li class="list-group-item"><b>{% translate 'Номер телефона' %}: </b>{{warehouse.phone}}</li>
                </ul>
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/apple.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/att.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/best_buy.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/body_building.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/new_egg.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-1">
                      <div class="shop-info">
                        <img src="{% static 'accounts/img/shops/nordstorm.png' %}" alt=""> -
                        <span class="shop-info_quantity">0</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}