{% extends "accounts/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col-xl-12 s-12">
      <div class="card mb-4">
        <div class="container">
          <br>
          <div class="row align-items-center">
            <div class="col-10">
              <h1>{% translate 'Адрес в США' %}</h1>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#warehouseAddModal" disabled>
                <img src="{% static 'accounts/img/plus-circle-svgrepo-com.svg' %}" height="21" width="21">
              </button>
            </div>
          </div>
          <br>
          <div id="locker-slider" class="owl-carousel">
            {% for warehouse in warehouses %}
            <div class="item" data-dot="<button role='button' class='owl-dot'><span>{{forloop.counter}}</span></button>">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">#{{forloop.counter}} {% translate 'Склад' %} - {{warehouse.city}}</h5>
                  <!-- <h6 class="card-subtitle mb-2 text-body-secondary">{{warehouse.city}}</h6> -->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>{% translate 'Адрес' %}:</b> {{warehouse.address}}</li>
                    <li class="list-group-item"><b>{% translate 'Штат' %}: </b>{{warehouse.state}}</li>
                    <li class="list-group-item"><b>{% translate 'Почтовый индекс' %}: </b>{{warehouse.zip}}</li>
                    <li class="list-group-item"><b>{% translate 'Номер  телефона' %}: </b>{{warehouse.phone}}</li>
                  </ul>
                  <div class="card-body">
                    <!-- <ol>
                      <li> sd</li>
                      <li>sd</li>
                    </ol> -->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}