{% extends 'main/base.html' %}
{% load i18n %}
{% block title %} Main Page {% endblock %}



{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-7">
            <div class="card my-3">
                <div class="card-header">
                    <b>О нашей компании</b>
                </div>
                <div class="card-body">
                    <p>Главная задача Fishisfast заключается в том, чтобы сделать процесс пересылки товаров из США
                        простым, удобным и быстрым.</p>
                    <p>Покупки в интернет-магазинах стали популярным и доступным способом шопинга во всём мире. Особую
                        популярность завоевали американские магазины, в которых есть масса интересных, качественных и
                        недорогих товаров. Вот только доставка за пределы США предлагается нечасто.</p>
                    <p>Поэтому в 2012 году мы запустили форвардинговый сервис Fishisfast, позволяющий делать покупки в
                        США всем, вне зависимости от местонахождения. Отправляя ваши заказы на наш склад, вы получаете
                        возможность лично проверить каждый из них. А потом, конечно же, отправить посылку на свой адрес.
                        Легко, спокойно и без лишних хлопот.</p>
                    <p>Вся команда Fishisfast постоянно работает над повышением уровня сервиса. Любое изменение, будь то
                        обновление сайта, совершенствование процесса получения и пересылки ваших товаров или повышение
                        уровня безопасности, направлено на создание наиболее комфортных условий для
                        интернет-покупателей. Мы любим наших клиентов, и с удовольствием помогаем им. Всегда. На любом
                        этапе.</p>
                    <p>Неважно, пользовались ли вы услугами форвардинговых компаний ранее. Попробуйте наш сервис, и мы
                        гарантируем: вам понравится! Ведь Fishisfast — это надёжный и опытный посредник для получения и
                        отправки товаров из США.</p>
                    <p>Спасибо, что вы с нами. Интересных вам покупок!</p>
                </div>
                <div class="card-footer">
                    <ul class="nav">
                        <li class="nav-item">
                            <span class="navbar-text">
                                Follow us for news and updates!
                            </span>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                href="https://twitter.com/fishisfast">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="mdi-twitter" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z">
                                    </path>
                                </svg>

                                Twitter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                href="http://vk.com/fishisfast">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="mdi-vk" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M20.8,7.74C20.93,7.32 20.8,7 20.18,7H18.16C17.64,7 17.41,7.27 17.28,7.57C17.28,7.57 16.25,10.08 14.79,11.72C14.31,12.19 14.1,12.34 13.84,12.34C13.71,12.34 13.5,12.19 13.5,11.76V7.74C13.5,7.23 13.38,7 12.95,7H9.76C9.44,7 9.25,7.24 9.25,7.47C9.25,7.95 10,8.07 10.05,9.44V12.42C10.05,13.08 9.93,13.2 9.68,13.2C9,13.2 7.32,10.67 6.33,7.79C6.13,7.23 5.94,7 5.42,7H3.39C2.82,7 2.7,7.27 2.7,7.57C2.7,8.11 3.39,10.77 5.9,14.29C7.57,16.7 9.93,18 12.08,18C13.37,18 13.53,17.71 13.53,17.21V15.39C13.53,14.82 13.65,14.7 14.06,14.7C14.36,14.7 14.87,14.85 16.07,16C17.45,17.38 17.67,18 18.45,18H20.47C21.05,18 21.34,17.71 21.18,17.14C21,16.57 20.34,15.74 19.47,14.76C19,14.21 18.29,13.61 18.07,13.3C17.77,12.92 17.86,12.75 18.07,12.4C18.07,12.4 20.54,8.93 20.8,7.74Z">
                                    </path>
                                </svg>

                                вКонтакте
                            </a>
                        </li>
                        <li class="nav-item">
                            <a target="_blank" rel="noopener noreferrer" class="nav-link"
                                href="https://www.facebook.com/fishisfastru">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" id="mdi-facebook-box" width="24" height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z">
                                    </path>
                                </svg>

                                Facebook
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <b>Команда</b>
                </div>
                <div class="card-body">
                    <p>Наша команда состоит из специалистов, живущих в разных уголках мира. Главный офис компании
                        находится в городе Хьюстон, штат Техас. Склад для хранения ваших покупок расположен в штате
                        Дэлавер. Поддержка и разработчики — из России, Украины, Казахстана, Канады, Голландии и Японии.
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Эндрю Гиллис</b> <br> Координатор проектов
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Эрнест Фата</b> <br> Генеральный директор
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Лукас Фэйс</b> <br> Программист
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Марк ван Эйкен</b> <br> Ведущий разработчик
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Паскаль Верстеген</b> <br> Дизайнер
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Шон Чапман</b> <br> Менеджер на складе
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 pb-2">
                            <b>Тарек Джан</b> <br> Развитие бизнеса (MENA)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
            <div class="card my-3">
                <div class="card-header">
                    <b>Адрес</b>
                </div>
                <div class="card-body">
                    <div class="card my-3">
                        <picture>
                            <source
                                srcset="/assets/welcome/warehouse_pic.jpg-0d6dd346dcb4f9ece91ded84c0fef6e1cfa3e8fb26a716be6d7f0a1c1a52bc66.webp"
                                type="image/webp">
                            <source
                                srcset="/assets/welcome/warehouse_pic-b4cda389957275d46546c82901caa18f9e2864e82f6a2d24e0b3301bfcc44749.jpg"
                                type="image/jpeg">
                            <img src="/assets/welcome/warehouse_pic-b4cda389957275d46546c82901caa18f9e2864e82f6a2d24e0b3301bfcc44749.jpg"
                                alt="Warehouse_pic-b4cda389957275d46546c82901caa18f9e2864e82f6a2d24e0b3301bfcc44749">
                        </picture>
                    </div>
                    <embed
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3070.102379236054!2d-75.57101899999999!3d39.692402!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c702feee04e2bb%3A0x743d288c65967117!2sFishisfast!5e0!3m2!1sen!2snl!4v1419373343830"
                        style="border:0;width:100%;height:250px;">

                </div>
            </div>
            <div class="card my-3">
                <div class="card-header">
                    <b>История нашей компании</b>
                </div>
                <div class="card-body">
                    <div class="timeline">
                        <b>Июль 2007</b>
                        <p>Fishisfast появился на свет. Это был интернет-магазин на сайте eBay, состоящий из одного
                            человека и физически находившийся в городе Лансинг штата Мичиган, прямо в гостиной Эрнеста.
                            Всё, вплоть до упаковки и отправки, делалось им самим. Практически сразу он заметил
                            повышенный уровень спроса со стороны международных клиентов. И начал фокусировать свой
                            бизнес на них.</p>
                    </div>
                    <div class="timeline">
                        <b>6-го Июля, 2007</b>
                        <p>Продана первая вещь на eBay (MP3-плеер на 512 Мб марки RCA + подписка на eMusic, всё вместе
                            за $14.99).</p>
                    </div>
                    <div class="timeline">
                        <b>27-го Июля, 2007</b>
                        <p>Отправлена первая международная посылка.</p>
                    </div>
                    <div class="timeline">
                        <b>Март 2008</b>
                        <p>Модернизация. Офис Fishisfast переехал из гостиной в гараж!</p>
                    </div>
                    <div class="timeline">
                        <b>Декабрь 2008</b>
                        <p>Компания переезжает из гаража на большой современный склад. К тому времени все усилия
                            сосредоточены на международных продажах. Любопытно, что большинство из заказов, номинально
                            не имевших международного статуса, отправлялись на адреса форвардинговых компаний.</p>
                    </div>
                    <div class="timeline">
                        <b>Октябрь 2009</b>
                        <p>Fishisfast нанимает своего первого сотрудника!</p>
                    </div>
                    <div class="timeline">
                        <b>Июнь 2011</b>
                        <p>После пары долгих лютых зим в Мичигане Fishisfast переезжает в город Хьюстон, штат Техас.</p>
                    </div>
                    <div class="timeline">
                        <b>Ноябрь 2011</b>
                        <p>Принято решение использовать большой опыт в международных отправлениях для поднятия качества
                            сервиса на более Высокий уровень. Fishisfast приступает к разработке веб-приложения,
                            позволяющего клиентам видеть не только свои посылки, но и все товары внутри посылок.</p>
                    </div>
                    <div class="timeline">
                        <b>Июль 2012</b>
                        <p>Fishisfast запускает бета-версию приложения и регистрирует первых пользователей, отправляя
                            посылки со склада в Техасе.</p>
                    </div>
                    <div class="timeline">
                        <b>Август 2012</b>
                        <p>Fishisfast открывает склад в штате Делавэр, чтобы избавить своих клиентов от необходимости
                            уплаты налога на продажу.</p>
                    </div>
                    <div class="timeline">
                        <b>Июнь 2014</b>
                        <p>Бета-тестирование веб-приложения завершено.</p>
                    </div>
                    <div class="timeline">
                        <b>2015 год</b>
                        <p>Fishisfast запускает обслуживание стран Среднего Востока, Северной Африки и Южной Кореи.
                            Склад увеличен вдвое, добавлен новый способ обработки посылок и начато развитие сервиса в
                            Бразилию.</p>
                    </div>
                    <div class="timeline">
                        <b>2016-2017 годы</b>
                        <p>Fishisfast продолжает оптимизировать работу склада. В итоге все процессы, включая обработку
                            входящих и упаковку исходящих посылок, занимают не более 1 рабочего дня даже в сезон
                            праздничных распродаж, что до сих пор не удавалось ни одной другой форвардинговой компании.
                            Также добавлены новые методы доставки по конкурентоспособным расценкам для ряда стран.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" role="dialog" tabindex="-1"></div>
</div>
{% endblock%}