{% load static %}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'main/img/logo.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>
    Hermes International
  </title>
  <link rel="stylesheet" href="{% static 'accounts/css/countrySelect.min.css' %}">

  <link rel="canonical" href="https://hermesinternational.ru" />

  <meta name="keywords" content="hermes, Hermes, Hermes International, Перевозка товаров из США">
  <meta name="description"
    content="Hermes International - лучший выбор для всех, кто хочет получить доступ к товарам из Соединенных Штатов и получить их прямо в свою страну. Наша компания специализируется на международной пересылке товаров, позволяя вам покупать на американских площадках онлайн и получать заказы с минимальными затратами и максимальным комфортом. У нас есть возможность открывать личные адреса в Америке, что позволяет сделать получение товаров еще более удобным и безопасным.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="twitter:card" content="product">
  <meta name="twitter:site" content="@belofflab">
  <meta name="twitter:title" content="Hermes International">
  <meta name="twitter:description"
    content="Hermes International - лучший выбор для всех, кто хочет получить доступ к товарам из Соединенных Штатов и получить их прямо в свою страну. Наша компания специализируется на международной пересылке товаров, позволяя вам покупать на американских площадках онлайн и получать заказы с минимальными затратами и максимальным комфортом. У нас есть возможность открывать личные адреса в Америке, что позволяет сделать получение товаров еще более удобным и безопасным.">
  <meta name="twitter:creator" content="@belofflab">
  <meta name="twitter:image" content="{% static 'accounts/img/logo.png' %}">

  <meta property="fb:app_id" content="1">
  <meta property="og:title" content="Hermes International" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://hermesinternational.ru" />
  <meta property="og:image" content="{% static 'accounts/img/logo.png' %}" />
  <meta property="og:description"
    content="Hermes International - лучший выбор для всех, кто хочет получить доступ к товарам из Соединенных Штатов и получить их прямо в свою страну. Наша компания специализируется на международной пересылке товаров, позволяя вам покупать на американских площадках онлайн и получать заказы с минимальными затратами и максимальным комфортом. У нас есть возможность открывать личные адреса в Америке, что позволяет сделать получение товаров еще более удобным и безопасным." />
  <meta property="og:site_name" content="Hermes International" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

  <link id="pagestyle" href="{% static 'main/css/soft-design-system-pro.min.css' %}" rel="stylesheet" />

  <link rel="icon" type="image/png" href="{% static 'accounts/img/logo.png' %}">

  <link rel="shortcut icon" href="{% static 'accounts/img/logo.png' %}" type="image/png">
  <link rel="apple-touch-icon" href="{% static 'accounts/img/logo.png' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/owl.theme.default.min.css' %}">

  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LdIh4UnAAAAAI3ta-SSP_smWqV2fJeHJ0wkQ9py"></script>
  {% if LANGUAGE_CODE == 'ru' %}
  <script src="//code.jivo.ru/widget/q4XzdOW2qv" async></script>
  {% else %}
  <script src="//code.jivo.ru/widget/8QPqVdED36" async></script>
  {% endif %}

  <style>
    .owl-carousel .owl-item .card {
    margin-left: 15px;
  }
  </style>

</head>

<body class="presentation-page">
  {% block content %}
  {% endblock %}

</body>
<script src="{% static 'accounts/js/jquery.js' %}"></script>
<script>
  var csrf_token = '{{csrf_token}}';
</script>
<script src="{% static 'accounts/js/auth.js' %}"></script>
<!-- <script src="{% static 'main/js/bootstrap.min.js' %}"></script> -->
<script src="{% static 'accounts/js/countrySelect.min.js' %}"></script>
<script src="{% static 'main/js/soft-design.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/countup.min.js' %}"></script>
<script src="{% static 'accounts/js/owl.carousel.min.js' %}"></script>

<script>
  var user = '{{request.user}}';
</script>

<script>
  $("#country_selector").countrySelect({
    excludeCountries: ['ru']
  });

</script>
<script>
  $(document).ready(function() {
    $('#testimonial-slider').owlCarousel({
      // items: 3,
      loop: true,
      autoplay: true,
      autoplayTimeout: 3000, // Adjust the time interval as needed
      responsiveClass: true,
      responsive:{
        0:{
            items:1,
        },
        600:{
            items:2,
        },
        1200:{
            items:3,
        }
    }
    });
  });
  </script>

<script type="text/javascript">
  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }

</script>
<script>
$(document).ready(function() {
        $(".read-more-link").click(function(e) {
            e.preventDefault();
            $(this).prev(".text-content").toggleClass("expanded");
            $(this).prev(".text-hidden").toggleClass("expanded");
            $(this).text(function(i, text) {
                return text === "{% translate 'читать далее' %}" ? "{% translate 'скрыть' %}" : "{% translate 'читать далее' %}";
            });
        });
    });
</script>

</html>